<div class= "d-flex flex-column m-2 justify-content-center">
<h2>Welcome, {{username}}!</h2>


<h3>Current posts:</h3>

{{#each posts as |post|}}
<div class="row w-100">

<div class="card border-info mb-3 " style="max-width: 50rem;">

    <div class="card-header d-flex justify-content-between py-1">
        <div class="">
    <a href="post/{{post.id}}">
         <h3>{{post.title}} </h3></a>
    </div>

      
     <div class="delete-button"> <button type="submit" class="btn btn-danger" data-id="{{post.id}}" > DELETE 

     </button></div>
   
 
    </div>

    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"> {{post.content}} </p>
    </div>


 
    </div>


</div>
{{/each}}






<div class="newPost">
<button class="btn btn-success" data-toggle="modal" data-target="#newPostModal">NEW POST</button>
<div class="modal" id="newPostModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="AddNewPost">Add New Post</h5>
            </div>

            <form class="form new-post-form">


                <div class="modal-body">


                    <div class="row mt-1">


                        <div class="form-group ">
                            <label for="post-title">Title </label>
                            <input class="form-input form-control mb-3" type="text" id="post-title" name="post-title"
                                value="{{post.title}}">
                        </div>

                        <div class="form-group">
                                <label for="post-content">Description</label>
                                <input class="form-input form-control mb-3" type="text" id="post-content"
                                    name="post-content" value="{{post.content}}">
                        </div>

                        <div class="modal-footer">
                                        <button type="submit" id="btn-submit" class="btn btn-primary">Save Post</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                        </div>
                       
                    </div>


                </div>


            </form>
        </div>
    </div>
</div>
</div>










</div>


        <script src="./js/profile.js"></script>
            <script src="/js/post.js"></script>